<% include ./partials/header %>
  
 <div class="userprofile">
	 <div class="userimage">
		 <div class="img">
			 <img src="<%= user.avatar %>">
		 </div>
	 </div>
	 <div class="userdetails">
		 <h3><%= user.fullname %></h3>
		 <span><i class="far fa-calendar-alt"></i> <%= user.created.toDateString() %></span>
		 <p>
			<%= user.description %>
		 </p>
		  <% if(CurrentUser){ %>
		    <% if (CurrentUser && user.followers.some(function (follow){
                 return follow.equals(CurrentUser._id)
             })) { %>
		 <a href="/follow/<%= user.id %>"><button class="profile_follow_btn"> <strong>follow </strong></button></a>
              <% } else { %>
             <a href="/follow/<%= user.id %>"><button class="profile_follow_btn"><strong>follow </strong></button></a>
             <% } %>
		     <% } %>
		
     <button type="button" class="profile_follow_btn" data-toggle="modal" data-target="#followers">
     <strong> see followers(<%=user.followers.length%>)</strong> 
     </button>

<!-- Modal -->
<div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title-of-followers" class="modal-title" id="exampleModalLongTitle">followers(<%=user.followers.length%>)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <% user.followers.forEach(function(follower){ %>
			   <a href="/user/<%= follower._id %>"><p id="follower-popup"><i class="fas fa-user"></i> <%= follower.fullname %></p></a>
			<% }); %>
      </div>
      <div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	 </div>
	
</div>
  
<div class="related-post">
	<div class="content">
		<h5>
			Your Posts
		</h5>
	</div>	
</div>

<div class="container1" id="user-container">
	   	<div class="row">
          <% photo.forEach(function(photo){ %>
			<div class=" col-xs-12 col-sm-6 col-lg-3">
	   			<a href="/instapic/<%=photo._id%>"> 
				<div class="img-boxs">
					<div class="imges">
					   <img src="<%= photo.img%>">
	   				</div>
	   				<div class="content">
                      <div class="user">
                      	<div class="userimage">
                      		<img src="<%=user.avatar%>">
                      	</div>
                      	<div class="username">
                      		<h5><%=user.fullname.substring(0 , 20)%>.</h5>
                      	</div> 
						  <div class="likes">
							  <button type="button" class="btn btn-warning">
								  <i class="fas fa-heart"></i> <%= photo.likes.length %>
							  </button>
						  </div>
                      </div>
	   				  <div class="discription">
	   					   <P><%= photo.description.substring(0 , 65)%>..</P>
	   				  </div>
	   				</div>
					
	   			</div>
				</a>
	   		</div>
			
			<% })%>
	</div>
</div>
 
<% include ./partials/footer %>