
<% include ./partials/header %>

 <div class="userprofile">
	 <div class="userimage">
		 <div class="img">
			 <img id="profile_img" data-src="<%= user.avatar %>">
		 </div>
	 </div>
	 <div class="userdetails">
		 <div class="d-flex justify-content-start">
			 <div><h3><%= user.fullname %></h3></div>
			 <div id="update-button"><a href="/user/<%= user.id %>/edit"><button class="profile_follow_btn"><strong>update <i class="fas fa-cog"></i></strong></button></a>
		     </div>
		</div>
		 <span><i class="far fa-calendar-alt"></i> <%= user.created.toDateString() %></span>
		 <p>
			<%= user.description %>
		 </p>
		  <% if(CurrentUser){ %>
		    <% if (CurrentUser && user.followers.some(function (follow){
                 return follow.equals(CurrentUser._id)
             })) { %>
		 <a href="/follow/<%= user.id %>"><button class="profile_follow_btn"> <strong>unfollow </strong></button></a>
              <% } else if(CurrentUser._id.equals(user._id)) { %>
                 
             <% } else {  %>
			 <a href="/follow/<%= user.id %>"><button class="profile_follow_btn"><strong>follow </strong></button></a>
		     <%  } %>
		     <% } %>
		
		
     <button type="button" class="profile_follow_btn" data-toggle="modal" data-target="#followers">
     <strong> see followers(<%=user.followers.length%>)</strong> 
     </button>

<!-- Modal -->
<div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title-of-followers" class="modal-title" id="exampleModalLongTitle">followers(<%=user.followers.length%>)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <% user.followers.forEach(function(follower){ %>
			   <a href="/user/<%= follower._id %>"><p id="follower-popup"><i class="fas fa-user"></i> <%= follower.fullname %></p></a>
			<% }); %>
      </div>
      <div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	 </div>
	
</div>
  
<div class="related-post">
	<div class="content">
		<h5>
			Your Posts
		</h5>
	</div>	
</div>

<div class="container1" id="user-container">
	   	<div class="row">
		<% if(CurrentUser){ if(CurrentUser._id.equals(user._id)){  %>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<a href="/instapic/new">
				<div class="img-boxs" id="uploadImgBox">
				   <div class="imges">
						<div id="firstDiv"><i id="uploadicon" class="fas fa-cloud-upload-alt"></i><h4 id="uploadcontainerh4">upload</h4></div>
						<div id="SecondDiv"><i id="imageuplodeicon" class="fas fa-image"></i><span id="imageh4">Image</span></div>
					</div>  
	   			</div>
				</a>
	   		</div>
		<%	} } %>	
			
			
		    
			
          <% photo.forEach(function(photo){ %>
			<div class=" col-xs-12 col-sm-6 col-lg-3">
				<div class="img-boxs">
					<div class="imges">
					   <img data-src="<%= photo.img%>">
	   				</div>
	   				<div class="content d-flex align-content-start flex-wrap">
                      <div class="user">
                      	<div class="userimage">
                      		<a href="/user/<%= user._id %>"><img data-src="<%=user.avatar%>"></a>
                      	</div>
                      	<div class="username">
							<a href="/user/<%= user._id %>"><h5><%=user.fullname.substring(0 , 20)%>.</h5></a>
                      	</div> 
						  <div class="likes">
							  <button type="button" class="btn btn-warning">
								  <i class="fas fa-heart"></i> <%= photo.likes.length %>
							  </button>
						  </div>
                      </div>
					  <a class="image-link" href="/instapic/<%=photo._id%>"> </a>
	   				  <div class="discription">
	   					   <P><%= photo.description.substring(0 , 65)%>..</P>
	   				  </div>
	   				</div>
					
	   			</div>
				
	   		</div>
			
			<% })%>
	</div>
</div>
 
<% include ./partials/footer %>