<% include ./partials/header %>

<!-- MAIN IMAGE SESSION================================== -->
<!-- ================================================== -->
    <div class="show-container">
	     <div class="userdetails">
			  <div class="user-img-name">
			       <div class="userimg">
					   <a href="/user/<%=foundphoto.author.id%>"><img src="<%= photos[0].author.id.avatar  %>">
			       </div>
			     <div class="username">
				    <h5><%= photos[0].author.id.fullname %></h5>
			     </div></a>
		      </div>
		        <div class="heart">
			        <div class="like-button">
                      <div style="padding-bottom: 10px;">
						   <form action="/instapic/<%= foundphoto._id %>/like" method="POST">
                             <div class="btn-group">
                                <% if (CurrentUser && foundphoto.likes.some(function (like) {
                                    return like.equals(CurrentUser._id)
                                })) { %>
                                <button class="btn btn-outline-warning">
                                    <i class="fas fa-heart"></i> (<%= foundphoto.likes.length %>)
                                </button>
                                <% } else { %>
                                <button class="btn btn-outline-warning">
                                    <i class="fas fa-heart"></i> (<%= foundphoto.likes.length %>)
                                </button>
                                <% } %>
                               <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">
  see likes
</button> 
								 <button type="button" class="btn btn-primary" id="see-comments" data-toggle="modal" data-target="#comments">
  See Comments(<%= foundphoto.comments.length %>)
</button>
						
                            </div>
                        </form>
                    </div>
					<%	if(CurrentUser && foundphoto.author.id.equals(CurrentUser._id)){ %>
						 <form action="/instapic/<%=foundphoto._id%>?_method=DELETE" method="POST">
							   <button id="delete-photo" class="btn btn-danger">
								  <i class="far fa-trash-alt"></i>
							   </button>   
						 </form>
						<% }%>
			</div>
		</div>
	</div>
</div>
<div class="img-container">
	<div class="img-session">
		<div class="img-box">
			<img id="checkimg" src="<%= foundphoto.img %>">
		</div>
	</div>
	<div class="description">
		<p>
			<%= foundphoto.description %>
		</p>
	</div>
</div>
<!-- ========================================= -->


 <!-- POPUP LIKE BUTTON =========================== -->
<!-- ========================================== -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Total Likes : <%= foundphoto.likes.length %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <div class="row" >
           <% foundphoto.likes.forEach(function(like) { %>
                        <div class="col-12">
							<h5><i class="fas fa-user" id="pop-up-like-usericon"></i><a href="/user/<%= like._id%>"><%= like.fullname %></a></h5>
						</div>
                         <% }) %>
            	</div> 
        </div>
      
    </div>
  </div>
</div>
  <!-- =====================================  -->


<!-- POP UP COMMENTS  ======================-->
<!-- Modal -->
<div class="modal fade" id="comments" tabindex="-1" role="dialog" aria-labelledby="commentsTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentsTitle">
			<div class="Commentsword">
			   Comments
			</div>
			<div class="add-comment-button">
			 <form action="/instapic/<%= foundphoto._id %>/comments" method="POST">
	              <div class="input-group mb-1 mt-1" id="comment-input">
					<input type="text" class="form-control" placeholder="Write Comments here...." aria-label="Write Comments here...." aria-describedby="button-addon2" name="comment[text]" required>
                  <div class="input-group-append">
                 <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                 </div>
					  </div>
                </form>
			</div></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <div class="row">
			   <% foundphoto.comments.forEach(function(comment){ %>
			  <div class="col-12">
				  <div class="pop-up-seecomment">
					  <h6 id="comments-author"><i class="fas fa-user" id="comment-user-icon"></i><a href="/user/<%= comment.author.id %>"><%= comment.author.username %></a></h6>
					<span> <form action="/instapic/<%= foundphoto._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
					  <button type="submit" class="btn btn-sm btn-danger" id="comment-delete">
						  <i class="far fa-trash-alt"></i>
						</button>
					  </form></span>
				  </div>
				  <p id="comments-text"><%= comment.text %></p>
			  </div>    
        <% }); %>
		  </div>
        
      </div>
    </div>
  </div>
</div>
<!--=========================================================== -->


<!-- RELATED POST ============================== -->
<!-- ========================================================== -->
   <div class="text">
        <p>Related Photos</p>	
   </div>
    <div class="container1">
	   	<div class="row">
          <% photos.forEach(function(photo){ %>
			<div class=" col-xs-12 col-sm-6 col-lg-3">
	   			<a href="/instapic/<%=photo._id%>"> 
				<div class="img-boxs">
					<div class="imges">
					   <img src="<%= photo.img%>">
	   				</div>
	   				<div class="content">
                      <div class="user">
                      	<div class="userimage">
                      		<img src="<%= photo.author.id.avatar %>">
                      	</div>
                      	<div class="username">
                      		<h5><%=photo.author.id.fullname.substring(0 , 20)%>.</h5>
                      	</div>
						  <div class="likes">
							  <button type="button" class="btn btn-warning">
								  <i class="fas fa-heart"></i> <%= photo.likes.length %>
							  </button>
						  </div>
                      </div>
	   				  <div class="discription">
	   					   <P><%= photo.description.substring(0 , 65)%>..</P>
	   				  </div>
	   				</div>
					
	   			</div>
				</a>
	   		</div>
			<% })%>	   	
    </div>
  </div>
<!-- ======================================================== -->

	
<% include ./partials/footer %>
